div.search-div
	h4 Search Appointments
	.row
		.col-sm-12
			form(role="form").form-horizontal
				.form-group
					label(for="appointmentDate").col-sm-2.control-label Date:
					.col-sm-6
						input#appointmentDate.form-control(ng-model="appDate", type="date")
					.col-sm-2
						button(ng-click="searchByDate(appDate)", type="submit").btn.btn-default.btn-block Go
	div#results(ng-show="appointmentList.length > 0")
		.row
			.col-sm-12
				h3 Results
					button.btn.btn-default.btn-heading(ng-click="toggleAllSMS()") Toggle all
					button.btn.btn-default.btn-heading(ng-click="deselectAllSMS()") Deselect all
				table.table
					tr
						th(ng-repeat= "field in fieldList")
							span(ng-click="changeOrdering(field)") {{field.displayName}}
								span(ng-show="orderByField == '{{field.name}}'", style="padding-left:10px")
									span(ng-show="!reverseSort").glyphicon.glyphicon-arrow-up
									span(ng-show="reverseSort").glyphicon.glyphicon-arrow-down
					tr(ng-repeat="appointment in appointmentList|orderBy:orderByField:reverseSort", ng-class="{success: appointment.sms == true}", ng-click="appointment.sms = !appointment.sms")
						td {{appointment.id}}
						td 
							a(ng-href="edit-patient/{{appointment.id}}") {{appointment.name}}
						td {{appointment.vaccines}}
						td {{appointment.phone}}
						td {{appointment.phone2}}
						td {{appointment.date | printableDate}}