div.display-patient
    .row
        .col-sm-4
            label ID:
            span {{patient.id}}
        .col-sm-4
            label Date of Birth:
            span {{patient.dob | printableDate}}
        .col-sm-4
            label Sex:
            span {{patient.sex}}
    .row
        .col-sm-4
            label Father:
            span {{patient.father_name}}
            span.grey {{patient.father_occ}}
        .col-sm-4
            label Mother:
            span {{patient.mother_name}}
            span.grey {{patient.mother_occ}}
        .col-sm-4
            div(style="color:green", ng-show="patient.active == 1")
                label Active
                span(style="margin-left:10px").glyphicon.glyphicon-ok
            div(style="color:maroon", ng-show="patient.active == 0")
                label Inactive
                span(style="margin-left:10px").glyphicon.glyphicon-time
    .row
        .col-sm-4
            .row
                .col-sm-3
                    label Address:
                .col-sm-9
                    p(style="white-space: pre;") {{patient.address | addressFormat}}
        .col-sm-4
            .row
                .col-sm-3
                    label Phone:
                .col-sm-9
                    p(style="white-space: pre;")
                        | {{patient.phone | tel}}
                        | {{patient.phone2 | tel}}
        .col-sm-4(ng-show="patient.email")
            label Email:
            span {{patient.email}}
    .row(ng-show="patient.siblings.length > 0")
        .col-sm-1
            label Siblings:
        .col-sm-11
            ul.list-inline
                li(ng-repeat="sibling in patient.siblings track by sibling.s_id")
                    .panel.panel-default
                        .panel-body
                            a(ng-href="edit-patient/{{sibling.s_id}}") {{sibling.name}}
                            br
                            | {{sibling.dob | printableDate }}
                            br
                            | {{sibling.sex | printableSex}}
