div.display-patient
    form(name="editPatientForm", novalidate="")
        .row
            .col-md-6
                .form-group.has-feedback(show-errors).form-group-lg
                    input(type="text", name="name", ng-model="patient2.name", placeholder="Name", required).form-control.input-lg
                    span.glyphicon.form-control-feedback
            .col-sm-6
                button.btn.btn-default.btn-heading(ng-click="editPatient=false") Cancel
        .row
            .col-sm-4
                label ID:
                span {{patient2.id}}
            .col-sm-4
                .form-group.has-feedback
                    label.control-label Date of Birth:
                    input(type="date", name="dob", ng-model="patient2.dob", required).form-control
            .col-sm-4
                label Sex:
                span {{patient.sex}}
